<a href="https://colab.research.google.com/github/komal7-alpha/Statskew/blob/main/Statskew_Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NOTES-
DIFFRENCE BETWEEN LIST AND TUPLE
BASCI DIFFERENCE IS WE CAN STORE VALUE IN TUPLE BUT CANNOT CHANGE ANY VALUE INSIDE IT BUT WE CAN CHANGE IT INSIDE LIST

HOW CAN YOU EXTRACT THE VALE FROM LIST-

Size of tuple is smaller than list so we need list

In [ ]:
print("Hello")

Hello

In [ ]:
print("K")

K

In [ ]:
 a="5"
 type(a)

str

In [ ]:
b =5
type(b)

int

In [ ]:
c=5.0
type(c)

float

list= []
tuple=()
dict={}
set={}

In [ ]:
a = [1,2,3,4, "Komal","ABC"]

In [ ]:
a[4]

'Komal'

In [ ]:
type(a)

list

** to extract any value**
Indexing

In [ ]:
a[-6]

1

In [ ]:
a[0:5]

[1, 2, 3, 4, 'Komal']

To extract multiple values

In [ ]:
a[3]

4

In [ ]:
a[3]="Ranjan"

In [ ]:
a

[1, 2, 3, 'Ranjan', 'Komal', 'ABC']

To change contents of list

In [ ]:
b=(1, 2, 3, 'Ranjan', 'Komal', 'ABC',7.0,7)
type(b)

tuple

In [ ]:
b

(1, 2, 3, 'Ranjan', 'Komal', 'ABC', 7.0, 7)

You cannot change tuple

In [ ]:
b[3]= 4

TypeError: ignored

Boolen

In [ ]:
b[3]== 3

False

To change tuple to list

In [ ]:
b=(1, 2, 3, 'Ranjan', 'Komal', 'ABC',7.0,7)
b

(1, 2, 3, 'Ranjan', 'Komal', 'ABC', 7.0, 7)

In [ ]:
list_ = list(b)
list_[1]=9
tuple_ = tuple(list_)
tuple_

(1, 9, 3, 'Ranjan', 'Komal', 'ABC', 7.0, 7)

Dict and sets

In [ ]:
dict1 = {"Name": ["Komal","Blah" ], "Class":["DA","DE"]}
dict1

{'Name': ['Komal', 'Blah'], 'Class': ['DA', 'DE']}

NEsted dict

In [ ]:
dict2 = {"Name":{"First_name":["Komal"],"Last_Name":["Ranjan"]},"Class":["DA","DE"]}

In [ ]:
dict2

{'Name': {'First_name': ['Komal'], 'Last_Name': ['Ranjan']},
 'Class': ['DA', 'DE']}

Dict slicing

In [ ]:
dict1["Name"]

['Komal', 'Blah']

In [ ]:
dict1["Name"][1]

'Blah'

In [ ]:
dict1["Name"][1]
type(dict1)

dict

In [ ]:
set1 = {2,3,4,5,6,7,3,4,5,1,7}

In [ ]:
set1

{1, 2, 3, 4, 5, 6, 7}

Input-
to take input from user
Alwyas gives string value as output

In [ ]:
d = 5+6
d

11

In [ ]:
name = input("Enter name\n")

Enter name

In [ ]:
type(name)

str

In [ ]:
name = input("Enter name\n")

Enter name

In [ ]:
type(name)

str

In [ ]:
str(5)+str(6)

'56'

int is used for integer or float value and u cannot use string value

In [ ]:
int1= int(input("Enter number:\n "))

Enter number:

ValueError: ignored

In [ ]:
type(int1)

Addition of two numbers taking input from the user

In [ ]:
a = int(input("Enter Number1:\n"))
b= int(input("Enter Number2:\n"))
c= a+b
c

In [ ]:
a = int(input("Enter Number1:\n"))
b= int(input("Enter Number2:\n"))
c= a+b
print("The sum of a+b =",c)

Python operators-

+-*/% ** //


**-> power

// -> remove decimal value and give the quotient

In [ ]:
5%2

1

In [ ]:
5+2

7

In [ ]:
5-2

3

In [ ]:
2**2

4

In [ ]:
5//2

2

In [ ]:
5/2

2.5

Relational/ comparision operator

>
<
<=
>= (smaller than equal to)
==
!=

Assignment operator

1. c+=1 : c=c+1
2. c * =1: c=c * 1
3. c/=1 : c=c/1

Logical operator
1. And
2. or
3. not

In [ ]:
a = [1,2,3]
print(1 not in a)

False

In [ ]:
a = [1,2,3]
print(1 in a)

True

Control statements
1. loop condition - for,whike
2. Conditional statement- if ,elif, else

In [ ]:
2%2==0

True

In [ ]:
num = int(input("enter the number:"))
if num%2==0:
  print("The number is even")
elif num%3==0:
  print("the number is diivsble by 3")
else:
  print("The number is odd")

enter the number:9
the number is diivsble by 3

In [ ]:
for i in range(1,22):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,22):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
a=1
while a<20:
  if a%2==0:
    print(a)
  a+=1

2
4
6
8
10
12
14
16
18

In [ ]:
a=1
while a<=20:
  if a%2==0:
    print(a)
  a+=1

2
4
6
8
10
12
14
16
18
20

In [ ]:
a = int(input("enter 1st number:"))
b = int(input("enter second number:"))
c = int(input("Enter 3rd number:"))

if (a>b and a<c) or (a<b and a>c):
  print("MiddleNumber=",a)
elif (b>a and b<c) or (b<a and b>c):
  print("Middle number=",b)
else:
  print("middle number=",c)

enter 1st number:7
enter second number:122
Enter 3rd number:1
MiddleNumber= 7

*
**
***
****
*****

The number of line is 5 , so n+1 i.e 6 will be taken as range

In [ ]:
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

FUNCTION

If we write 100 lines of code and use it again again we use function

def- defination
additon- function name
a,b- argument

In [ ]:
def addition(a,b):
  c= a+b
  return c

In [ ]:
addition(5,6)

11

Default Argument

In [ ]:
def add(a,b=2):
  c=a+b
  return c

In [ ]:
add(5,6)

11

In [ ]:
def find_middle_number(a,b,c):
  if (a>b and a<c) or (a<b and a>c):
    print("MiddleNumber=",a)
  elif (b>a and b<c) or (b<a and b>c):
      print("Middle number=",b)
  else:
        print("middle number=",c)

In [ ]:
a = int(input("enter 1st number:"))
b = int(input("enter second number:"))
c = int(input("Enter 3rd number:"))
find_middle_number(a,b,c)

enter 1st number:23
enter second number:23
Enter 3rd number:23
middle number= 23

Return and print
The `return` statement is used to exit a function and send a value back to the caller. The `print()` function prints the value of its argument to the console.
Here is an example of the difference between the two statements:
def my_function(x):
  if x == 0:
    return 0
  else:
    return x + my_function(x - 1)
print(my_function(5))

In this example, the `return` statement is used to exit the function and send the value `5` back to the caller. The `print()` function is then used to print the value `5` to the console.

In [ ]:
def even(a,b):
  for i in range(a,b):
    if i%2==0:
      print(i)
even(1,22)

2
4
6
8
10
12
14
16
18
20

In [ ]:
def even(a,b):
  for i in range(a,b):
    if i%2==0:
      return i
even(1,22)

2